#burger-form {
    margin: 4rem auto;
    max-width: 25rem;
}

h2 {
    color: var(--text-color);
    font-size: 2.625rem;
    text-align: center;
}

.input-container {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}

label {
    font-weight: bold;
    margin-bottom: 0.94rem;
    position: relative;
    z-index: 1;
    margin-left: 1rem
}

label::before {
    position: absolute;
    top: 0.625rem;
    z-index: -1;
    left: -1rem;
    content: '';
    display: inline-block;
    width: 1.625rem;
    height: 0.5625rem;
    background-color: var(--primary-color);
}

input, select {
    background-color: #312e2e93;
    border: 0.4rem solid transparent;
    border-radius: 0.5rem;
    color: var(--text-color);
    padding: 0.313rem 0.63rem;
    width: 25rem;
}

option {
    background-color: #16151593;
    color: var(--text-color);
}

.input-container {
    flex-direction: row;
    flex-wrap: wrap;
}

#opcionais-title {
    width: 100%;
}

.checkbox-container {
    display: flex;
    margin-bottom: 1.25rem;
    width: 50%;
}

.checkbox-container span,
.checkbox-container input {
    width: auto;
}

.checkbox-container span {
    font-weight: bold;
    margin-left: 0.520rem;
}

.submit-btn {
    background-color: var(--primary-color);
    border-radius: 0.63rem;
    box-shadow: var(--text-shadow);
    color: #000000;
    cursor: pointer;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 auto;
    transition: .5s;
    width: 12.5rem;
}

.submit-btn:hover {
    background-color: var(--primary-color-hover);
} 

@media screen and (max-width: 520px) { 
    h2 {
        color: var(--text-color);
        font-size: 1.625rem;
        text-align: center;
    }

    .main-container {
        margin: 0 2.5rem;
    }

    #burger-form {
        margin: 2rem auto;
    }

}